<?xml version="1.0"?>
<!--
/**
 * @package Shoparize_Partner
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Shoparize_Partner" setup_version="1.0.3">
        <sequence>
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>
